
* {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  html {
    font-size: 62.5%;
  }

.main-head {
    background: url(./images/bgk-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80vh;    
    flex-direction: row;
    justify-content: center;
  }

.Agency {
    display: flex;

}

.Logo {
    
}

.Logoname {
    color: aquamarine;
    opacity: 0.6;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.container-navbar {
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    margin-left: 5rem;
}

.nav-ul {
    display: flex;
    list-style-type: none;   
}

.nav-ul li {
    margin-left: 1rem;
}

.nav-ul li a {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.nav-ul li a:hover {
    color: aquamarine;
}

.Learn {
    padding: 0.5rem 0.5rem;
    background: none;
    border: 1px solid aquamarine;
    color: aquamarine;
    font-size: 1rem;
    opacity: 0.6;
    text-transform: uppercase;   
    }

.Agency {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 7rem;
}

hr {
    width: 5%;
    border: 0.5px solid aquamarine;
    margin: auto;
    padding: auto;
    text-align: center;
    opacity: .6;
}

.Agency p {
    padding: 1rem
}


  #learn {
      color: aquamarine;
      background: none;
      padding: 1rem;
      border-radius: 2px;
      text-decoration: none;
      font-weight: bold;
      border: 1px solid aquamarine;
  }
 .about-upper {
     display: flex;
     margin: 0px auto;
     justify-content: center;
 }

 .logo-big {
     margin: 5rem;
 }
 .container {
     margin: 5rem;
 }
 .about-text {
     padding: 2rem 0rem;
 }
 .about-under {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    text-align: center;
    min-height: 60vh;
    background-image: url(images/pngs/bgk-middle.png);
    background-repeat: no-repeat;
    background-size: cover;
 

 }

 .about-under p {
     padding: 3rem;
     color: white;
 }


